/* You can add global styles to this file, and also import other style files */
.w3-sidebar a {
    font-family: "Roboto", sans-serif !important
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .w3-wide {
    font-family: "Montserrat", sans-serif !important;
  }


.original-price {
  text-decoration: line-through !important;
}